
.jumbotron h1 {
    color: plum;
}

.jumbotron p {
    color:plum;
}

.white-text h2 {
    color: plum;
}

.aliceblue-text p {
    color: plum;
}

.col-md-12 p {
    color: plum;
}

body {
    background-color: rgb(59, 80, 64);
}